p {
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: normal;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: normal;
}

h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 32px;
	font-weight: normal;
	font-style: italic;
}

a{
	color: black;
}

a:hover{
	color: blue;
}

li{
	list-style-type: none;
	margin: 0;
	font-size: 20px;
	line-height: 26px;
	padding: 0px;
}

em{
	color: blue;
	font-style: normal;
}

sup{
	vertical-align: super;
	font-size: 20px;
	color: blue;
}

mark{
	background-color: blue;
	color: white;
}

#home{
	color: white;
	font-size: 48px;
}

#about{
	color: black;
	font-size: 34px;
}

#footnote{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.footnote{
	width: 25%;
	float: right;
	margin-right: 5%;
}

.one{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin-top: 25px;
	
	background-image: url(./images/bodega.png);
	background-size: cover;
	background-attachment: fixed;
}

.two{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
	background-image: url(./images/bodega-bw.png);
	background-size: cover;
	background-attachment: fixed;
}

.three{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
	background-image: url(./images/bodega.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.four{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
	
}

.content{
	width: 75%;
	padding: 40px;
	margin: 100px auto;
}


.container{
	width: 60%;
	margin: auto;
}

.container-home{
	width: 60%;
	margin: auto;
}

.image-small{
	width: 25%;
	float: right;
}

.text{
	width: 50%;
	margin-left: 10%;
}

.footnote-image{
	width: 100%;
	margin: auto;
}




