p {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	color: white;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: normal;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: normal;
}

h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 32px;
	font-weight: normal;
	font-style: italic;
}

a{
	color: black;
}

a:hover{
	color: blue;
}

li{
	list-style-type: none;
	margin: 0;
	font-size: 20px;
	line-height: 26px;
	padding: 0px;
}

em{
	color: blue;
	font-style: normal;
}


.one{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin-top: 25px;
	
	background-image: url(./images/bodega.png);
	background-size: cover;
	background-attachment: fixed;
}

.two{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
	background-image: url(./images/1.png);
	background-size: cover;
	background-attachment: fixed;
}

.three{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
	background-image: url(./images/2.png);
	background-size: cover;
	background-attachment: fixed;
}

.content{
	width: 75%;
	padding: 40px;
	margin: 100px auto;
}


.container{
	width: 60%;
	margin: auto;
}

.container-home{
	width: 60%;
	margin: auto;
}

.image-process{
	width: 100%;
}

.image-small{
	width: 50%;
	float: right;
}


