p {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: normal;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: normal;
}

h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 32px;
	font-weight: normal;
	font-style: italic;
}

a{
	color: black;
}

a:hover{
	color: blue;
}

li{
	list-style-type: none;
	margin: 0;
	font-size: 20px;
	line-height: 26px;
	padding: 0px;
}

em{
	color: blue;
	font-style: normal;
}


.container{
	width: 60%;
	margin: auto;
}

.container-home{
	width: 60%;
	margin: auto;
}

.image-process{
	width: 100%;
}

.image-small{
	width: 50%;
	
}